table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    white-space: nowrap;

}
th{
width:100px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.ClimateCol{
	width:25%;
}
.Desk {
 width: 1600px;
}
.Mobile {
   width: 100%;
}
