h1,h2,h3, pre, body{
    font-family: 
    "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
  }
 h1,h2{/*center*/
 display: flex;
    justify-content: center;
    align-items: center;
 }
h2{
   background-color:#c7d5ed;
}
p,div,span,li{
    font-size: 18px;
  margin-left: 20px;
}
code,pre {
     background-color: #eee; 
margin: 4px,4px,4px,4px
}
pre{
  width:61%;
}
li{
  font-weight: bolder;
}
.width60Percent{
  width:60%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 4px;
    /*white-space: nowrap;*/
    width:70px;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.ClimateCol{
	width:100px;
}
.Desk {
 width: 1600px;
}
.Mobile {
   width: 100%;
}
