h1,h2,h3, pre, body{
    font-family: 
    "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
  }
 h1,h2{/*center*/
 display: flex;
    justify-content: center;
    align-items: center;
 }
h2{
   background-color:#c7d5ed;
}
p,div,span,li{
    font-size: 18px;
  margin-left: 20px;
}
code,pre {
     background-color: #eee; 
margin: 4px,4px,4px,4px
}
pre{
  width:61%;
}
li{
  font-weight: bolder;
}
.width60Percent{
  width:60%;
}
