* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
html {
  word-break: break-all;
}
body,p,div,pre,li,span,td {
   background-color: #ccd6c9;   font-weight:lighter;  
}
div{
  background-color: #ccd6c9;   font-weight:lighter;  white-space: pre-line;
}
h1{display: flex;
  justify-content: center;
  align-items: center;
  background-color:#5342f4;
  color:#cfc9fc;
  font-weight:lighter;}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#c7d5ed;
  font-weight:lighter;
  border-color:black;
  border-style: solid;
  border-width: 1px;
}
h3{
  font-weight:bolder;
 /* display:inline;*/
  display: block;
  width:50%;
  text-align: center;
  margin-left:25px;
  background-color:lightblue;
  color:darkblue;
  padding: 10px ;
  border-color:black;
  border-style: solid;
  border-width: 1px; font-weight:lighter;
}
p,div,span,li{    font-size: 18px;  margin-left: 20px;}
code,pre {     background-color: #eeeeee; margin: 4px 4px 4px 4px;}
pre{  width:70%;}
li{  font-weight: bolder;}
ul{
  margin-left:10px;
}
table { border: 1px solid #444444; background-color: #EEEEEE; width: 100%; text-align: left; border-collapse: collapse;}
table td, table th {  border: 1px solid #444444; padding: 3px 2px;}
table tbody td { margin-left: 3px; font-size: 16px;}
table tr:nth-child(even) {  background: #D0E4F5;}
table thead th {  font-size: 16px;  font-weight: bold;   border: 2px solid ;border-color:#444444;}
table thead th:first-child {  border-left: none;}
th {padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #29559b; color: white;}
/* unvisited link */
a:link {
  color: rgb(23, 12, 114);
}
/* visited link */
a:visited {
  color: rgb(73, 22, 83);
}
/* mouse over link */
a:hover {
  color: rgb(190, 97, 190);
}
.header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    width:100%;
}
.inALine{
  display:inline-block;
  border-width:1px;
  border-style:solid;
}
.in_a_Line{
  display:flex;
  border-width:1px;
  border-style:solid;
}
.FlexBox1{
  display:flex;
  flex-direction:row;
}
.ClimateCol{
	width:180px;
	 min-width: 120px;
}
.Desk {
 width: 1600px;
}
.Mobile {
   width: 100%;
}
.width20per{
width:20%;
}
