*{font-family:"Consolas", "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h7,p{white-space:pre;}
td{padding-left:2px;padding-right:2px;vertical-align: text-top;border:1px black solid;
font-size: 18px;word-wrap: break-word;}
h2{font-size: 22px;text-align: center;background-color:#9999ee}
b{font-size:20px;font-weight:800;background-color: lightcyan;color:darkcyan;}
code{background-color:#222222;color: lightcyan;
    padding-left: 2px;padding-right:2px;
    margin-left: 2px; margin-right: 2px;}
strong,h7{text-shadow: 0px 1px, 1px 0px, 1px 1px;}
.imagesize{width:350px;height:350px;}
.column{color:black; }
.TB3ColFixed{table-layout:fixed;width:100%;border-collapse: separate;}
.bolder{text-shadow: 0px 1px, 1px 0px, 1px 1px;}
.blockFrame{
    vertical-align:text-top;
    border:1px black solid;
    margin-left:2px;
    display:inline-block;
    overflow: auto;
    background-color: #eeeeee;
}
.blockHead{
    width:100%;
    text-align:center;
    background-color:#336699;
    color:#eeefff;
    font-weight:900;
    padding-left:2px;
    padding-right:2px;
    font-size:22px;
    white-space:pre
}
.blockBody{
    /*padding-left:10px;
    padding-right:10px;*/
    padding-top:10px;
    padding-bottom :10px;
    background-color: #eeeeee;
    width:100%;white-space:pre;display:block;clear:both;overflow: auto;overflow-wrap: break-word;
}